gunicorn
praw
pymongo
python-dotenv
disnake
dnspython
aiohttp
flask
youtube-dl
pynacl
captcha
Flask-Cors
flask-limiter
disrank
psutil
pillow
disnake-ext-menus
requests-async
dictdiffer
fastapi
jwcrypto
uvicorn
jwt