gunicorn
praw
pymongo
python-dotenv
disnake
dnspython
aiohttp<=3.8.0
flask
youtube-dl
pynacl
captcha
Flask-Cors
flask-limiter
disrank
psutil
pillow
disnake-ext-menus
requests-async
dictdiffer
jwt
fastapi
uvicorn
jose
jwcrypto
Crypto
