<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
    </head>

    <body>
        <h1 class="page-header">Developer Panel</h1>

        <div class="stats-container">
            <h4 class="stats-header">Bot Statistics</h4>
            
            <p class="stats-description" id="guild-count">OutDash is in N/A guilds</p>
        </div>

        <div class="guild-data-container">
            <h4 class="guild-data-header">Bot Guilds</h4>

            <!-- <form>
                <label for="guild-data-input">Guild ID:</label><br>
                <input type="text" id="guild-data-input" class="input"></input><br>

                <input type="submit" value="Get guild data">
            </form> -->

        </div>

        <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    </body>
</html>