@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: #1f2324;
}

.page-header {
    color: white;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}

.stats-container {
    font-family: "Ubuntu", sans-serif;
    color: white;

    position: absolute;
    left: 2%;
    justify-content: center;

    margin: 0 auto;
    zoom: 1.25;
}

.guild-data-container {
    font-family: "Ubuntu", sans-serif;
    color: white;
    text-align: center;

    /* margin: 25px; */
    display: flex;
    justify-content: center;

    margin: 0 auto;
    zoom: 1.25;
}