<!DOCTYPE html>
<html>
  <head>
    <title>OutDash</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css"/>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/static/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/static/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/static/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/static/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/static/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/static/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/static/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/static/mstile-310x310.png" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type=text/javascript> 
        $(document).ready(function() {
            $(function() { $("#changePrefix").click(function (event) {
                const newPrefix = document.getElementById("newPrefix").value.toString()

                $.ajax({
                    type: "POST",
                    url: `/api/save-settings?guild_id={{guild.id}}&prefix=${newPrefix}`,
                    headers: {"api-key": "dzaXM7tUU_J5kzWy&WUP+9=p2Bu3nvnzx3Kgkm+wR%3EW9uRsDcmbDwd%gtf5EGB9q@Y=uQg?Ya3?sjeHs%P*E7hbx%c5^VwwY_G"},
                    params: {"guild_id": "{{guild.id}}", "prefix": newPrefix},
                    success: function() {
                        alert(`prefix changed to "${newPrefix}" successfully`)
                    },
                    error: function(error) {
                        console.error(error)
                    }
                });
            })});
        });
    </script>
  </head>
  
  <body>
    <h4>{{guild.name}}</h4>

    <input type="text" placeholder="New prefix.." id="newPrefix" value="{{prefix}}">
    <button type="button" id="changePrefix">Change Prefix</button>
  </body>
</html>